<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= metaData.examTitle %></h1>
    <table border="1" style="border-collapse: collapse;">
      <thead>
        <tr>
          <td>S/N</td>
          <td>Name</td>
          <td>Faculty</td>
          <td>Department</td>
          <td>Level</td>
          <td>CA</td>
          <td>Exam</td>
          <td>Grade</td>
        </tr>
      </thead>
      <% if (results.length > 0) { %> <% results.forEach((student, i) => { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= student.name %></td>
        <td><%= student.faculty %></td>
        <td><%= student.department %></td>
        <td><%= student.level %></td>
        <td><%= student.ca %></td>
        <td><%= student.exam %></td>
        <td><%= student.grade %></td>
      </tr>
      <% }); %> <% } %>
    </table>
  </body>
</html>
