<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* table {
        margin: auto;
      } */

      div.table h2 {
        text-align: left;
      }

      th,
      td {
        font-size: 14px;
        padding: 10px;
        text-transform: capitalize;
      }

      div.hrule {
        border: 0.5px solid #000;
        width: 170px;
      }
    </style>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display: flex; justify-content: center;">
      <img
        style="margin-top: 50px; margin-right: 10px; width: 70px;"
        src="<%= logo %>"
        alt="Logo"
      />
    </div>
    <h1
      style="
        text-align: center;
        font-size: 1.5rem;
        line-height: 45px;
        margin-top: 0;
        margin-bottom: 50px;
      "
    >
      Prince Abubakar Audu University, Anyigba <br />
      e-Examination <br />
      <span style="text-transform: capitalize;"><%= metaData.examTitle %></span>
    </h1>

    <% Object.values(datas).forEach(data => { %>

    <div style="margin: 0 1.5rem;">
      <h2
        style="font-size: 1.2rem; text-transform: capitalize; margin-top: 3rem;"
      >
        <%= data.faculty %>
      </h2>
      <table border="1" style="border-collapse: collapse;">
        <thead>
          <tr>
            <td>S/N</td>
            <td>Name</td>
            <td>Matric</td>
            <td>Faculty</td>
            <td>Department</td>
            <td>Level</td>
            <td>CA</td>
            <td>Exam</td>
            <td>Grade</td>
          </tr>
        </thead>
        <% if (data.results.length > 0) { %> <% data.results.forEach(function
        iterator(student, i) { %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= student.name %></td>
          <td style="text-transform: uppercase;"><%= student.matric %></td>
          <td><%= data.faculty %></td>
          <td><%= student.department %></td>
          <td><%= student.level %></td>
          <td><%= student.ca %></td>
          <td><%= student.exam %></td>
          <td><%= student.grade %></td>
        </tr>
        <% }); %> <% } %>
      </table>
      <div
        style="display: flex; justify-content: flex-start; margin-top: 70px;"
      >
        <div
          style="display: flex; flex-direction: column; align-items: center;"
        >
          <div class="hrule"></div>
          <h4>e-Examination Chairman</h4>
        </div>
      </div>
      <div style="break-after: page; margin-top: 1.5rem;"></div>
    </div>
    <% }); %>
  </body>
</html>
